.App {
  background-color: azure;
}

.dynamic-table {
  position: absolute;
  transform: translate(50%, 5%);
  max-width: 50rem;
  max-height: 100rem;
}

.simple-table,
.select-file,
.submit {
  margin: 2rem;
}
.simple-table {
  overflow-y: auto;
  max-height: 30rem;
}

.filter-table {
  margin: 0rem 1rem 1rem 1rem;
  display: flex;
}

.filter-delimiter,
.filter-lines {
  margin: 0.5rem;
}

.table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
